* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 960px;
    max-width: 100%;
    margin: 0 auto;
}

.clearfix {
    clear: both;
}

.box {
    background-color: #CDCDCD;
    width: 620px;
    height: 300px;
    float: left;
    display: flex;
}

.box p {
    color: #969696;
    font-size: 2.5rem;
    margin: auto;
}

.small-box {
    background-color: #CDCDCD;
    width: 300px;
    height: 150px;
    margin-right: 20px;
    margin-top: 20px;
    float: left;
    display: flex;
}

.small-box p {
    color: #969696;
    font-size: 2rem;
    margin: auto;
}

.text {
    float: left;
    width: 300px;
    height: 150px;
    margin-right: 20px;
    margin-top: 20px;
}

.text h2 {
    margin-bottom: 20px;
}

.text blockquote {
    margin-top: 10px;
    color: rgb(102, 90, 90);
    font-size: 0.9rem;
}

.row-one .text {
    margin-left: 20px;
}