.container {
    display: flex;
    justify-content: space-evenly;
}
.table {
    margin-top: 130px;
}
h1 {
    background-color: #387D22;
}
table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}
.table1 td {
    padding: 30px;
}
.table2 td {
    padding: 10px;
}
.submit {
    margin-top: 10px;
    text-align: center;
}