body {
    margin: 0;
    color: #fff;
    display: flex;
    box-sizing: border-box;
}

.container {
    margin: auto;
    width: 900px;
    max-width: 100%;
    background-color: #EE5351;
}

.row {
    display: flex;
    line-height: 65px;
}

.column {
    text-align: right;
    border: 1px solid #fff;
    padding-right: 20px;
}

p {
    margin: 0;
}

.row-one .column,
.row-two .column,
.row-three .column,
.row-four .column,
.row-five .column {
    flex: 1;
}

.row-six .left {
    flex: 5;
}

.row-six .right {
    flex: 7;
}

.row-seven .left {
    flex: 4;
}

.row-seven .right {
    flex: 8;
}

.row-eight .left {
    flex: 3;
}

.row-eight .right {
    flex: 9;
}

.row-nine .left {
    flex: 2;
}

.row-nine .right {
    flex: 10;
}

.row-ten .left {
    flex: 1;
}

.row-ten .right {
    flex: 11;
}

.row-eleven .column {
    flex: 1;
}